<launch>

  <group ns="gicp_localization">
    <!-- SLAM -->
    <node pkg="gicp_localization"
          name="gicp_localization"
          type="gicp_localization_node"
          output="screen">

      <!-- Topics -->
      <!-- <remap from="~pcld" to="/velodyne_points"/> -->

      <!-- Initial pose -->
      <!-- <rosparam param="init">
        position: {x: 1.93, y: 1.455, z: 0.0}
        orientation: {roll: 0.0, pitch: 0.0, yaw: 0.0}
        position_sigma: {x: 0.05, y: 0.05, z: 0.01}
        orientation_sigma: {roll: 0.02, pitch: 0.02, yaw: 0.02}
      </rosparam> -->

      <!-- Rates -->
      <rosparam file="$(find gicp_localization)/config/parameters.yaml"/>

    </node>
  </group>

</launch>
